@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-black;
  }

  h1, h2, h3, h4 {
    @apply font-serif;
  }
}
