.Header {
    position: fixed;
    width: 100%;
    padding: 25px 0px;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
    background: rgba(255,255,255, 0.6);
    padding: 10px 0px;
    backdrop-filter: blur(20px);
}

.HeaderGroup {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: left;
}

.HeaderGroup a {    
    cursor: pointer;
    transition: 0.3s;
}

.HeaderGroup a:hover {    
    color: #139CD7;
}

@media (max-width: 640px) {
    .Header {
        padding: 15px;
    }
}