@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather:wght@400;700&family=Raleway:wght@400;800;900&display=swap');
@import url("//hello.myfonts.net/count/3c725a");


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;  
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  color: black;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}

a:hover { color: #139CD7; }

p {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6;
}


.Hero{
  height: 790px;
  margin: 0 50px;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 1000px;
  padding: 150px 0 230px 0;
  position: relative;
}

h1 {  
  font-weight: 900;
  font-size: 60px;
  max-width: 600px;
  line-height: 1.1;
}

.Hero p { max-width: 500px; }

.ImageBehindTitle {
  position: absolute;
  z-index: -1;
  right: 100px;
  width: 400px;
}

.StuffIDid {
  height: 360px;
  text-align: center;
  position: relative;
}

.StuffIDid h3 {
  font-weight: 900;
  font-size: 30px;
  margin: 130px 20px;
  left: 0; right: 0;
  position: absolute;
}

.StuffIDid img {
  z-index: -1;
  top: 0; bottom: 0;
}

.CasesGroup {
  margin: 0 auto;
}

.CasesGroup a {
  text-decoration: none;
}

.Hero p a {
  cursor: pointer;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 13px;
  max-width: 485px;
  line-height: 1.4;
  text-decoration: underline;
}

.Wtf {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 14px;
  max-width: 485px;
  line-height: 1.4;
  text-decoration: none !important;
}

.Hero p a:hover {  
  color: #139CD7;
}

.Wtf:hover { cursor: url('../images/wtf-cursor.png'), auto; }

footer {
  width: 100%;
  text-align: center;
  font-size: 1em;
  padding-bottom: 20px;
}

.FooterMessage {
  position: relative;
  height: 20px;
  margin: 30px auto;
}


.FooterMessage h4 {
  font-size: 1.1em;
  position: absolute;
  right: 0;
  left: 0;
}

.FooterMessage img {
  z-index: -1;
}

.SocialLinksGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 160px;
  margin: auto;
  padding: 35px 200px 10px 200px;
}

.SocialLinks {
  cursor: pointer;
}

.Highlight {
  background-color: #C6ECFD;

}
@media (max-width: 640px) {

  .Hero {
    margin: 60px 30px;
    height: auto;
  }

  .HeroGroup { padding: 50px 0px; }

  .Hero h1 { font-size: 38px; }

  .Hero p { font-size: 16px; }

  .Hero p a { font-size: 16px; }

  .ImageBehindTitle { 
    width: 70%;
    right: 0;
  }

  .CasesGroup {
    margin: 0;
    width: 100%;
  }

  .SocialLinksGroup {
    display: block;
    padding: 20px 50px;
    grid-template-columns: 1fr;
  }

  .SocialLinks {    
    font-size: 12px;
    padding: 0 10px;
  }  
  
}