html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;  
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  color: black;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

.Hero{
  height: 790px;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 1000px;
  padding: 200px 0 230px 0;
  position: relative;
}

.Hero h1 {
  font-weight: 900;
  font-size: 60px;
  max-width: 710px;
  line-height: 1.1;
}

.Hero p {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 13px;
  max-width: 485px;
  line-height: 1.4;
}

.ImageBehindTitle {
  position: absolute;
  z-index: -1;
  right: 100px;
  width: 400px;
}

.CasesGroup {
  margin: 100px auto;
  max-width: 1000px;
}


.Hero p a {
  cursor: pointer;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 13px;
  max-width: 485px;
  line-height: 1.4;
  text-decoration: underline;
}

.Wtf {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 13px;
  max-width: 485px;
  line-height: 1.4;
  text-decoration: none !important;
}

.Hero p a:hover {  
  color: #139CD7;
}

.Wtf:hover {
  cursor: url('../images/wtf-cursor.png'), auto;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.SocialLinksGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 200px 35px 200px;
}

.SocialLinks {
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-decoration: underline;
}


@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }

  .Hero h1 {
    font-size: 40px;;
  }

  .Hero p {
    font-size: 20px;
  }
  .SocialLinksGroup {
    display: block;
    padding: 0 200px 35px 200px;
  }
  .SocialLinks {    
    font-size: 14px;
  }
}